.navbar-custom {
  background-color: #1887c7; /* Set navbar background color */
}

.navbar-custom .navbar-brand {
  color: #fff; /* Set navbar brand text color */
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); /* Set navbar toggler icon color */
}
  
  .table-hover tbody tr:hover {
    background-color: #f0f0f0; /* Set table row hover background color */
  }
  
  .btn-info {
    background-color: #17a2b8; /* Set button background color */
    border-color: #17a2b8; /* Set button border color */
  }
  
  .btn-info:hover {
    background-color: #138496; /* Set button hover background color */
    border-color: #138496; /* Set button hover border color */
  }
  
  .btn-danger {
    background-color: #dc3545; /* Set button background color */
    border-color: #dc3545; /* Set button border color */
  }
  
  .btn-danger:hover {
    background-color: #c82333; /* Set button hover background color */
    border-color: #bd2130; /* Set button hover border color */
  }
  
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  .formbold-pt-3 {
    padding-top: 12px;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
  }
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }

  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .flex {
    display: flex;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .w-full {
    width: 100%;
  }
  .formbold-radio {
    width: 20px;
    height: 20px;
  }
  .formbold-radio-label {
    font-weight: 500;
    font-size: 16px;
    padding-left: 12px;
    color: #070707;
    padding-right: 20px;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 70px; /* Width of the sidebar */
    background-color: #1887c7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 80vh;
  }
  
  .sidebar-containt{
    margin-left: 0.7vw;
  }


  .dashboard-containt{
    display: flex;
  }

  .sidecontaint{
    width: 5%;
  }

  .main-containt{
    width: 95%;
    margin-left: 12vw;
    margin-right: 10vw;
    margin-top: 3vw;
  }

  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }