<div>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand d-flex text-light"><h3><b>Dashboard</b></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <button type="button" class="btn btn-light mx-3" (click)="viewstatus()"><b>View Status</b></button>
          <a class="btn btn-light" type="submit" (click)="addprojects()"><b>Add Project</b></a>
          <button class="btn btn-light mx-3" type="submit" (click)="loginpage()"><b>Logout</b></button>
      </div>
    </div>
  </nav>
  <div class="mt-2">
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent2">
          <span class="mx-3 text-light"><b><h4>Total Projects {{totalLength}}</h4></b></span>
        </div>
      </div>
    </nav>
  </div>
  <div class="container mt-4">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col"><h5>Id</h5></th>
          <th scope="col"><h5>Name</h5></th>
          <th scope="col"><h5>Description</h5></th>
          <th scope="col"><h5>Status</h5></th>
          <th scope="col"><h5>Date</h5></th>
          <th scope="col"><h5>Time</h5></th>
          <th scope="col"><h5>Action</h5></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allprojects" >
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.date}}</td>
          <td>{{item.time}}</td>
          <td>
            <img src='/assets/icons/edit_icon.svg' class="me-3" alt="edit_icon" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>
            <img src='/assets/icons/delete-button.svg' class="me-3" width="26" alt="delete-button" data-bs-toggle="modal" data-bs-target="#ModalDelete"/>
          </td>
          <!-- Modal Delete Popup -->
          <div class="modal fade" id="ModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Delete </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <span><b>Are you sure to delete this item ?</b></span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary"  (click)="deleteItem(item)">Yes</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal edit project-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: whitesmoke;">
        <span class="modal-title fs-5" id="staticBackdropLabel"><h4>Edit Your Project</h4></span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formValue">
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>Name</b></label>
            <input type="text" formControlName="title" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><b>Description</b></label>
            <textarea class="form-control" formControlName="descrip" rows="3"></textarea>
          </div>
        </div>
        <div class="modal-footer" style="background-color: whitesmoke;">
          <!-- <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal"><b>Close</b></button> -->
          <button type="button" class="btn btn-primary btn-lg"><b>Save</b></button>
        </div>
      </form>
    </div>
  </div>
</div>

