.table-hover tbody tr:hover {
  background-color: #f0f0f0; /* Set table row hover background color */
}

.dashboard-containt {
  display: flex;
  margin-top: 1vw;
  height: 100%;
}

.sidecontaint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4%; /* Width of the sidebar */
  background-color: #05b471;
}

.sidebar-containt {
  margin-left: 0.7vw;
}

.dash-containt {
  width: 96%;
}

.main-containt {
  margin-left: 2vw;
  height: 37vw; /* Set the desired height */
  overflow: auto;
}

.main-containt thead {
  position: sticky; /* Fix the header position */
  top: 0; /* Place the header at the top */
  background-color: #f8f9fa; /* Background color for the header */
  z-index: 1; /* Ensure header is above other content */
}
