<div>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand d-flex text-light"><h3><b>Dashboard</b></h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
          <button type="button" class="btn btn-light mx-3" (click)="viewstatus()"><b>View Status</b></button>
          <a class="btn btn-light" type="submit" (click)="addprojects()"><b>Add Project</b></a>
          <button class="btn btn-light mx-3" type="submit" (click)="loginpage()"><b>Logout</b></button>
      </div>
    </div>
  </nav>
  <div class="mt-2">
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container-fluid">
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent2">
          <span class="mx-3 text-light"><b><h4>Total Projects {{totalLength}}</h4></b></span>
        </div>
      </div>
    </nav>
  </div>
  <div class="container mt-4">
    <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col"><h5>Id</h5></th>
          <th scope="col"><h5>Name</h5></th>
          <th scope="col"><h5>Description</h5></th>
          <th scope="col"><h5>Status</h5></th>
          <th scope="col"><h5>Date</h5></th>
          <th scope="col"><h5>Time</h5></th>
          <th scope="col"><h5>Action</h5></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of allprojects" >
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.date}}</td>
          <td>{{item.time}}</td>
          <td>
            <img src='/assets/icons/edit_icon.svg' [routerLink]="['/Editproject',item.id]" class="me-3" alt="edit_icon"/>
            <img src='/assets/icons/delete-button.svg' (click)="deleteItem(item.id)" class="me-3" width="26" alt="delete-button"/>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
