<div class="auth-container">
  <div class="form-card">
    <h2>{{ isLogin ? "Login" : "Register" }}</h2>

    <form
      [formGroup]="isLogin ? loginForm : registerForm"
      (ngSubmit)="isLogin ? onLogin() : onRegister()"
    >
      <div *ngIf="!isLogin" class="form-group">
        <input type="text" formControlName="name" placeholder="Name" />
      </div>

      <div class="form-group">
        <input type="email" formControlName="email" placeholder="Email" />
      </div>

      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>

      <button type="submit" class="submit-btn">
        {{ isLogin ? "Login" : "Register" }}
      </button>
    </form>

    <p class="toggle-text">
      {{ isLogin ? "Don't have an account?" : "Already have an account?" }}
      <span (click)="toggleForm()">{{ isLogin ? "Register" : "Login" }}</span>
    </p>
  </div>
</div>
