<div>
  <app-navbar [title]="'Dashboard'"></app-navbar>
  <div class="graph-container">
    <app-sidbar></app-sidbar>
    <div class="flex">
      <div>
        <app-cards></app-cards>
      </div>
      <div class="graph-containt">
        <div class="pie-container">
          <div class="pie" [chart]="pieChart"></div>
        </div>
        <div class="bar-container">
          <div class="bar" [chart]="barChart"></div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>