.graph-container {
  display: flex;
  height: 100%;
}

.flex {
  display: flex;
  width: 96%;
  flex-direction: column;
}

.graph-containt{
  display: flex;
  margin-top: 4vw;
}

.pie-container {
  width: 50%;
}

.bar-container {
  width: 50%;
  margin-right: 0vw;
}