<div>
  <!-- <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
          <a class="navbar-brand d-flex text-light"><h3><b>Graph</b></h3></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
              <button type="button" class="btn btn-light mx-1" (click)="home()"><b>Dashboard 🏠</b></button>
              <button class="btn btn-light mx-3" type="submit" (click)="loginpage()"><b>Logout</b></button>
          </div>
        </div>
      </nav> -->
  <app-navbar></app-navbar>
  <div class="graph-container">
    <div>
      <app-sidebar></app-sidebar>
    </div>
    <div class="flex">
      <div>
        <app-cards></app-cards>
      </div>
      <div class="graph-containt">
        <div class="pie-container">
          <div class="pie" [chart]="pieChart"></div>
        </div>
        <div class="bar-container">
          <div class="bar" [chart]="barChart"></div>
        </div>
      </div>
    </div>
  </div>
</div>