.graph-container {
  display: flex;
  height: 100%;
}

.flex {
  display: flex;
  width: 96%;
  flex-direction: column;
}

.sidecontaint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4%; /* Width of the sidebar */
  background-color: #05b471;
  height: 78vh;
}

.sidebar-containt {
  margin-left: 0.7vw;
  margin-bottom: 1vw;
}

.graph-containt{
  display: flex;
  margin-top: 4vw;
}

.pie-container {
  width: 50%;
}

.bar-container {
  width: 50%;
  margin-right: 0vw;
}