<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">

    <footer class="footer-bottom text-center text-white fixed-bottom">
        <!-- Grid container -->
        <div class="container p-3 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Instagram -->
                <a class="m-2" href="https://www.instagram.com/wildwine_codoz?igsh=MTllNTFnM2g0MTZpNA=="
                    role="button"><img src="assets/icons/instagram.svg" width="50" /></a>

                <!-- Linkedin -->
                <a class="m-2" href="https://www.linkedin.com/in/rushikesh-gaikwad-224698258/" role="button"><img
                        src="assets/icons/linkedin.svg" width="50" /></a>
                <!-- Github -->
                <a class="m-2" href="https://github.com/Rushikesh01Gaikwad" role="button"><img
                        src="assets/icons/github.svg" width="53" /></a>
                <!-- Google -->
                <a class="m-2" href="https://www.google.com/" role="button"><img src="assets/icons/google.svg"
                        width="50" /></a>
                <!-- Facebook -->
                <a class="m-2" href="#!" role="button"><img src="assets/icons/facebook.svg" width="50" /></a>

                <!-- Twitter -->
                <a class="m-2" href="#!" role="button"><img src="assets/icons/twitter.svg" width="50" /></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-dark">Rushikesh_Gaikwad_Intern_Atlas_Copco</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->