.flex{
    display: flex;
}

  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 65px; /* Width of the sidebar */
    background-color: #05b471;
    height: 95vh;
  }
  
  .sidebar-containt{
    margin-left: 0.7vw;
  }