.sidecontaint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 77px; /* Width of the sidebar */
    background-color: #05b471;
    height: 78vh;
  }

  
.sidebar-containt {
    margin-left: 0.7vw;
    margin-bottom: 1vw;
  }