<div class="parentdiv">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex text-light">
                <h3><b>Dashboard</b></h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <a [routerLink]="['/']" >
                    <img src='/assets/icons/logout.svg' width="35" alt="logout_svg"/>
                </a>
            </div>
        </div>
    </nav>
</div>