.flex{
    display: flex;
    height: 100%;
}

.sidecontaint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4%; /* Width of the sidebar */
  background-color: #05b471;
  height: 92vh;
}

.navbar-custom {
  background-color: #05b471;
  /* Set navbar background color */
  padding-bottom: 15px;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* Set navbar brand text color */
}

.parentdiv {
  height: 8vh
}
  
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 70px; /* Width of the sidebar */
    background-color: #37c28c;
    height: 60vh;
  }
  
  .sidebar-containt{
    margin-left: 0.7vw;
    margin-bottom: 1vw;
  }

  .main-containt{
    width: 96%;
    margin-right: 10vw;
    padding-top: 1vw;
    background-color: white;
    border-radius: 15px;
  }

  .adjustWidth{
    width: 20vw;
  }

  .btn-cls{
    background-color: #37c28c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}