<div>
    <app-navbar></app-navbar>
    <div class="flex">
        <div class="margin-sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="container">
            <div class="main-containt">
                <div class="flex">
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Name</mat-label>
                            <input matInput>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Description</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>
                    </p>
                </div>
                <div class="flex">
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Location</mat-label>
                            <mat-select>
                                <mat-option value="one">Maharastra</mat-option>
                                <mat-option value="one">Delhi</mat-option>
                                <mat-option value="one">Punjab</mat-option>
                                <mat-option value="one">Karnataka</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Department</mat-label>
                            <mat-select>
                                <mat-option value="one">Apps & Software</mat-option>
                                <mat-option value="two">Data</mat-option>
                                <mat-option value="two">Embeded</mat-option>
                                <mat-option value="two">Devops</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </div>
                <div class="flex">
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Date</mat-label>
                            <input matInput>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Time</mat-label>
                            <input matInput>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </p>
                </div>
                <div class="flex">
                    <p class="mx-3">
                        <mat-form-field appearance="outline" class="adjustWidth">
                            <mat-label>Status</mat-label>
                            <mat-select>
                                <mat-option value="one">Register</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p class="mx-3">
                        <button class="btn btn-light text-light btn-lg btn-cls" type="submit"><b>Save </b></button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>